MONGO_URI="your_mongodb_connection_string"
STRIPE_SECRET_KEY="your_stripe_secret_key"
STRIPE_WEBHOOK_SECRET="your_stripe_webhook_secret"
CLIENT_URL="http://localhost:3000"
FIREBASE_SERVICE_ACCOUNT_KEY='your_firebase_service_account_key'
